:root {
  --primary-header-color: #303030;
  --second-header-color: #ffffff;
  --primary-link-color: #ffffff;
  --accent-color: #ff6c00;
  --main-font: "Open Sans", sans-serif;
  --main-margin: 20px;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

address {
  font-style: normal;
}

.container {
  display: block;
  width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: block;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 25px;
  height: 40px;
  min-width: 160px;

  transition: color 500ms linear, background-color 500ms linear;
}

.btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  cursor: pointer;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}
.pre-title {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;

  transition: all 250ms linear;
}
.social-link:is(:hover, :focus) {
  color: var(--accent-color);
}

/* --------------------ARROW-UP----------------------------- */
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}

.back-to-top::before {
  content: "";
  border: solid #303030;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(-135deg) translate(-2px, -2px);
}
.back-to-top:hover::before {
  border-color: var(--accent-color);
}

/* --------------------NAVIGATION----------------------------- */

.header {
  position: absolute;
  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
}

.header .container {
  display: flex;
  align-items: center;
  color: #fff;
}

.logo-img {
  fill: var(--primary-link-color);
}

.logo-link {
  margin-right: 50px;
}
.nav {
  margin-right: auto;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;

  transition: color 250ms linear;
}

.nav-link:is(:hover, :focus),
.phone-number:is(:hover, :focus) {
  color: var(--accent-color);
}

.nav-item {
  height: 48px;
  position: relative;
}

.nav-link.active-page:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.phone-number {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  display: block;
  margin-right: 10px;

  transition: color 250ms linear;
}

.modal-btn {
  background-color: transparent;
  color: #fff;
}

.header-social-wrap {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}

.header-social-list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  gap: 40px;
}

.header-social-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}
/* Так як ми повернули елемент, осі помінялись і тепер все залежтиь від цієї вісі */

/* --------------------HERO----------------------------- */

.hero .container {
  display: flex;
}

.combination {
  display: inline-block;
  height: 600px;
  width: 100%;
  padding: 272px 0 206px 96px;

  background-color: #303030;

  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-pre-title {
  margin-bottom: var(--main-margin);
  color: rgba(157, 164, 189, 0.6);
}

.pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  display: block;
  background-color: currentColor;
  margin-right: 20px;
}

.hero-title {
  font-size: 72px;
  line-height: 1.18;
  color: var(--second-header-color);
  margin-bottom: var(--main-margin);
}

.hero-after-title {
  font-size: 18px;
  max-width: 370px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* --------------------ABOUT----------------------------- */
.about {
  padding: 120px 0;
}

.about .container {
  display: flex;
}

.piture-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.piture-img {
  width: 100%;
  height: auto;
}

.about-pre-title {
  color: #303030;
  margin-bottom: var(--main-margin);
}

.about-after-title {
  color: #555;
  margin-bottom: var(--main-margin);
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555;
  margin-bottom: 42px;
}

.about-btn {
  transition: background-color 250ms linear;
}
.about-btn:is(:hover, :focus) {
  color: #ffffff;
}
/* --------------------PRICES----------------------------- */

.prices {
  background-color: #111319;
  background-image: url(../images/prices_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 120px 0;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: #ffff;
  margin-bottom: 44px;
}

.prices-menu {
  display: flex;
  gap: 30px;
}

.prices-list {
  padding: 30px 20px;
  flex-grow: 1;
}

.prices-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.prices-item {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px;
}

.prices-item::before {
  content: "";
  height: 1px;
  width: 100px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin: 0 10px;
}

.prices-element:first-child {
  order: -1;
}

.prices-element {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: white;
  margin: 0 auto;
  margin-top: 44px;
}

.prices-btn:hover {
  background-color: #ff6c00;
}

/* --------------------BENEFITS----------------------------- */
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits .container {
  display: flex;
}

.benefits-content-first {
  display: flex;
  justify-content: center;
  width: calc(50% + 15px);
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 370px;
  flex-shrink: 0;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: #f7f7f7;

  text-align: center;
}

.benefits-span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);

  display: flex;
  justify-content: center;
}

.benefits-item > .benefits-span::after {
  content: "+";
  color: #ff6c00;
  font-weight: 600;
  font-size: 16px;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: #303030;
}

.benefits-item:nth-child(2n + 1) {
  margin-right: 30px;
}

.benefits-item:nth-child(2n) {
  margin-top: 50px;
}

.benefits-wrap {
  padding-top: 9px;
  padding-right: 70px;
}

.pre-title-benefits {
  margin-bottom: var(--main-margin);
}

.title-benefits {
  margin-bottom: var(--main-margin);
}

.slogan-benefits {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* --------------------BARBERS----------------------------- */

.barbers {
  padding: 120px 0;
  background-color: #f7f7f7;
}

.barbers-pre-title {
  margin-bottom: var(--main-margin);
  color: #303030;
}

.barbers-title {
  color: var(--primary-header-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.barbers-img {
  width: 100%;
  height: auto;
}

.barbers-wrap {
  position: relative;
  overflow: hidden;
}

.barbers-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(255, 106, 0, 0.8);
  color: #efefef;
  font-size: 16px;
  line-height: 1.5;
  /* overflow: auto; */

  transform: translateY(100%);
  transition: transform 250ms linear;
}

.barbers-wrap:hover .barbers-content {
  transform: translateY(0);
}

.barbers-item-wrap {
  margin-top: 30px;
}

.barbers-item:nth-child(2) .barbers-content {
  overflow: auto;
}

.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;

  margin-bottom: 8px;
}

.barbers-info {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.barbers-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.barbers-social-items {
  background-color: white;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.barbers-social-link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.barbers-social-link:hover {
  background-color: var(--accent-color);
}
.barbers-social-link:hover .barbers-social-icons {
  fill: #fff;
}

/* --------------------GALLERY----------------------------- */

.gallery {
  padding: 120px 0;
}

.gallery-pre-title {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  gap: 40px;
}

.gallery-item {
  width: calc((100% - 120px) / 4);
}

/* --------------------CONTACTS----------------------------- */

.contact {
  background-color: #191c26;
  background-image: url(../images/contacts_bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50%-15px) 100%;

  max-width: 1600px;
  margin: 0 auto;
}

.contact > .container {
  display: flex;
  justify-content: center;
}

.form {
  padding-top: 130px;
  padding-bottom: 183px;
  padding-right: 45px;
  width: calc(50% + 15px);
}

.form-title {
  margin-bottom: 44px;
  color: var(--second-header-color);
}

.address-wrap {
  padding-top: 130px;
  width: calc(50% - 15px);
  padding-left: 100px;
}

.address-title {
  color: var(--second-header-color);
}

.address {
  color: #ffff;
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.street-link {
  font-weight: 700;
}

.contact-btn {
  color: #fff;
}

.address-pre-title {
  color: white;
}

.contact-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* form */
.online-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  position: relative;
  margin-bottom: 44px;
}

.form-textarea {
  width: 100%;
}

.online-label {
  color: rgba(157, 164, 189, 0.4);

  position: absolute;
  left: 10px;
  top: 0;

  font-family: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  transition: color 250ms linear;
}

.online-item {
  width: 270px;
  height: 24px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding: 5px;

  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #fff;

  transition: border-bottom-color 250ms linear;
}

.online-textarea {
  width: 100%;
  height: 76px;
  resize: none;
}

.online-item:focus + .online-label {
  transform: translateY(-24px);
}

.online-item:not(:focus):not(:placeholder-shown) + .online-label {
  transform: translateY(-24px);
}

.online-item:is(:hover, :focus) {
  border-bottom-color: #ffffff;
  cursor: pointer;
}

.online-item:is(:hover, :focus) + .online-label {
  color: #ffffff;
  cursor: pointer;
}

:focus-visible {
  outline: none;
}
/* --------------------FOOTER----------------------------- */

.footer {
  padding: 56px 0px;
}

.copyright-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100vh;
  background-color: rgba(48, 48, 48, 0.559);
}

.modal {
  padding: 35px;
  width: 500px;
  min-height: 500px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.btn-close {
  border-radius: 50%;
  border-color: var(--primary-header-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-left: auto; */
  background-color: #fcf1e7;
  margin-bottom: 24px;

  cursor: pointer;

  position: absolute;
  top: -10px;
  right: -5px;
}

.btn-close:hover {
  background-color: #f9964f;
  fill: #ffffff;
}
.modal-field {
  width: 360px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.input-wrap {
  position: relative;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  text-align: center;
  color: #090b13;
  margin-bottom: 16px;
}

.modal-label {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(142, 143, 153, 1);
  display: inline-block;
  margin-bottom: 4px;
}

.modal-input:hover {
  cursor: pointer;
}
.modal-input:focus {
  cursor: auto;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  font-size: 14px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.modal-textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 24px;
  transform: translateY(-50%);

  cursor: pointer;
}

.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
  cursor: text;
}
.accept-label {
  display: flex;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;

  color: rgba(142, 143, 153, 1);
}

.policy-link {
  margin-left: 3px;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: rgba(77, 90, 229, 1);
  text-decoration: underline;
}

.accept-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
}

.accept-label:hover {
  cursor: pointer;
}

.input-checked:checked + .accept-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.modal-btn-submit {
  display: block;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: #fff;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
